n8n_aa/v2_subworkflows/WF1-Main Orchestrator.json
{
  "name": "WF1-Main Orchestrator (v2)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "REPLACE_WITH_NEW_WEBHOOK_PATH",
        "options": {
          "allowedOrigins": "*",
          "binaryPropertyName": "",
          "ignoreBots": false,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -600,
        400
      ],
      "id": "c1000001-0001-0001-0001-000000000001",
      "name": "Survey complete Webhook",
      "webhookId": "REPLACE_WITH_NEW_WEBHOOK_PATH"
    },
    {
      "parameters": {
        "jsCode": "// 1. MASTER SCHEMA - Maps ID to UUID and Full Question Data\n  const SURVEY_SCHEMA = {\n    // --- SECTION 1: Personal Background & Career Context ---\n    \"1a\": { uuid: \"11111111-1111-1111-1111-11111111111a\", question: \"Your name\", type: \"short_text\", options: [], description: \"First and Last name\" },\n    \"1b\": { uuid: \"11111111-1111-1111-1111-11111111111b\", question: \"Your pronoun\", type: \"multiple_choice\", options: [\"She / Her\", \"He / Him\", \"They / Them\", \"Not defined\"], description: \"\" },\n    \"1c\": { uuid: \"11111111-1111-1111-1111-111111111113\", question: \"Your age\", type: \"number\", options: [], description: \"\" },\n    \"1d\": { uuid: \"11111111-1111-1111-1111-111111111114\", question: \"What region are you based?\", type: \"dropdown\", options: [\"Northern and Western Europe\", \"Southern and Eastern Europe\", \"United Kingdom (London)\", \"United Kingdom (Other)\", \"United States (High-Cost Regions)\", \"United States (Average-Cost Regions)\", \"United States (Lower-Cost Regions)\", \"Canada\", \"Australia and New Zealand\", \"Switzerland\"], description: \"If you prepare to move somewhere else soon, then select that region.\" },\n    \"1e\": { uuid: \"11111111-1111-1111-1111-111111111115\", question: \"My primary goal(s) for completing this questionnaire and receiving a report\", type: \"multiple_choice\", options: [\"Looking for guidance on my **first job or career path**\", \"Finding a **new career path** that better suits my skills and interests\", \"Exploring a promotion or advancement **within my current field or company**\", \"Assessing my work preferences and values for a **better work-life balance**\", \"**Identifying strengths** and areas for improvement for professional growth\", \"Considering a career change due to **burnout or lack of fulfillment**\"], description: \"Select up to 2 options that best describe your main objectives or specify it at 'other'\" },\n    \"1f\": { uuid: \"11111111-1111-1111-1111-111111111116\", question: \"What is the highest level of education you have completed?\", type: \"multiple_choice\", options: [\"No formal education\", \"High school diploma or equivalent\", \"Associate's degree (e.g., technical college or vocational training)\", \"Bachelor's degree\", \"Master's degree\", \"Doctorate or professional degree (e.g., PhD, MD, JD)\"], description: \"\" },\n    \"1g\": { uuid: \"11111111-1111-1111-1111-111111111117\", question: \"What subject or specialization did you study?\", type: \"short_text\", options: [], description: \"(Optional: Fill this out if you want it considered for career suggestions)\" },\n    \"1h\": { uuid: \"11111111-1111-1111-1111-111111111118\", question: \"How many years of professional experience do you have?\", type: \"number\", options: [], description: \"Start counting from your first real job\" },\n    \"1i\": { uuid: \"11111111-1111-1111-1111-111111111119\", question: \"What best describes your current career situation?\", type: \"multiple_choice\", options: [\"**Non-leadership or individual contributor role** (no direct reports)\", \"**Managerial or leadership role** (Managing 1–4 direct reports, focusing on team coordination and supervision)\", \"**Senior managerial role** (Managing 5 or more direct reports, involved in strategic decision-making and broader team oversight)\", \"**Executive function** (VP to C-suite roles or equivalent senior leadership positions with comprehensive organizational responsibilities)\", \"**Entrepreneur** seeking an employed role\", \"Currently on a **career break or transition**\", \"Looking to **re-enter the workforce**\"], description: \"\" },\n    \"1j\": { uuid: \"11111111-1111-1111-1111-111111111110\", question: \"What are your most recent professional roles?\", type: \"career_history\", options: [], description: \"\" },\n    \"1k\": { uuid: \"11111111-1111-1111-1111-11111111111d\", question: \"How happy were you in each of these roles?\", type: \"career_happiness\", options: [], description: \"Rate your happiness (1-10) and briefly explain what about the role's responsibilities and work itself affected your satisfaction - not the company culture, specific people, or circumstances.\" },\n    \"1l\": { uuid: \"11111111-1111-1111-1111-11111111111f\", question: \"Skills & Achievements\", type: \"skills_achievements\", options: [], description: \"Tell us about what you see as your main professional skills and notable achievements. This helps us understand your strengths and accomplishments.\" },\n    \"1m\": { uuid: \"11111111-1111-1111-1111-111111111120\", question: \"List any personal interests or hobbies important to you\", type: \"interests_hobbies\", options: [], description: \"Provide **up to 3** (e.g. DIY, Gardening, collecting ... , fashion, Lego, writing, etc.)\" },\n    \"1n\": { uuid: \"11111111-1111-1111-1111-111111111121\", question: \"Additional Context\", type: \"long_text\", options: [], description: \"Anything else we should know? (Optional - skip if nothing comes to mind)\" },\n\n    // --- SECTION 2: Personality & Work Style ---\n    \"2a\": { uuid: \"22222222-2222-2222-2222-222222222221\", question: \"How do social interactions affect your energy?\", type: \"multiple_choice\", options: [\"**Energized** (I thrive on interaction)\", \"**Somewhat Energized** (I enjoy it, but have a limit)\", \"**Somewhat Drained** (I can handle it, but prefer quiet)\", \"**Drained** (I need significant alone time to reset)\"], description: \"Think about meetings, team collaboration, client interactions, and networking.\" },\n    \"2b\": { uuid: \"22222222-2222-2222-2222-222222222222\", question: \"When making decisions, what do you naturally focus on first?\", type: \"multiple_choice\", options: [\"The immediate, practical details and data\", \"The long-term, big-picture ideas and impact\", \"My gut feeling and how it affects others emotionally\"], description: \"\" },\n    \"2c\": { uuid: \"22222222-2222-2222-2222-222222222223\", question: \"How do you typically approach making project decisions?\", type: \"multiple_choice\", options: [\"**Decisive** (Decide immediately to keep moving)\", \"**Leaning Deliberative** (Explore options, but can decide when needed)\", \"**Leaning Open** (Explore options, but can decide if forced)\", \"**Deliberative** (Gather data and keep options open as long as possible)\"], description: \"Project Decision Style\" },\n    \"2d\": { uuid: \"22222222-2222-2222-2222-222222222224\", question: \"How do you typically communicate complex ideas at work?\", type: \"multiple_choice\", options: [\"Direct and to the point - focus on key facts\", \"Use analogies and metaphors to explain concepts\", \"Provide detailed context and background first\", \"Adapt my style based on the audience\"], description: \"\" },\n    \"2e\": { uuid: \"22222222-2222-2222-2222-222222222225\", question: \"How do you respond to change and uncertainty at work?\", type: \"multiple_choice\", options: [\"**Strong Structure** (I prefer clear guidelines and predictability)\", \"**Leaning Structure** (I handle ambiguity well, but appreciate some structure)\", \"**Leaning Novelty** (I embrace the unknown, but like a safety net)\", \"**Embrace Novelty** (I thrive on the unknown and see it as opportunity)\"], description: \"Think about situations like role changes, new projects with unclear scope, or shifting priorities.\" },\n    \"2f\": { uuid: \"22222222-2222-2222-2222-222222222226\", question: \"How do you approach conflict or negotiation?\", type: \"multiple_choice\", options: [\"I address issues assertively and focus on finding a balanced solution\", \"I seek compromise to maintain harmony, even if I have to concede\", \"I prioritize securing the best outcome for myself or my team first\", \"I tend to defer or avoid direct conflict\"], description: \"\" },\n    \"2g\": { uuid: \"22222222-2222-2222-2222-222222222227\", question: \"What kind of work environment do you prefer?\", type: \"multiple_choice\", options: [\"**Highly Flexible** (Minimal structure and maximum autonomy)\", \"**Somewhat Structured** (I prefer a process but not rigid rules)\", \"**Somewhat Flexible** (I prefer fluidity but appreciate some process)\", \"**Highly Flexible** (I find structure stifling)\"], description: \"Work Style Preference\" },\n    \"2h\": { uuid: \"22222222-2222-2222-2222-222222222228\", question: \"How comfortable are you taking calculated risks in your work?\", type: \"multiple_choice\", options: [\"Very comfortable\", \"Comfortable\", \"Uncomfortable\", \"Very uncomfortable\"], description: \"Think about situations like proposing unconventional solutions, taking on stretch projects, or making decisions with incomplete information.\" },\n    \"2i\": { uuid: \"22222222-2222-2222-2222-222222222229\", question: \"When facing work pressure or tight deadlines, how do you typically respond?\", type: \"multiple_choice\", options: [\"**Action-First** (Push forward immediately and handle it)\", \"**Leaning Action** (Tend to act quickly, with a brief pause)\", \"**Leaning Analysis** (Tend to step back, but can act if urgent)\", \"**Analysis-First** (Instinct is to stop and analyze deeply)\"], description: \"Stress Response\" },\n    \"2j\": { uuid: \"22222222-2222-2222-2222-22222222222a\", question: \"Which of the following tendencies have you experienced that may sometimes hinder your effectiveness at work?\", type: \"multiple_choice\", options: [\"Perfectionism leading to delays\", \"Difficulty delegating tasks\", \"Taking on too much responsibility\", \"Being overly critical of self or others\", \"Avoiding confrontation\", \"Difficulty adapting to change\", \"Becoming easily stressed under pressure\", \"Struggling with time management\", \"Being indecisive\", \"Rushing through tasks\", \"Difficulty accepting feedback\", \"Procrastination\", \"Overanalyzing decisions\"], description: \"Select all that apply. Be honest - everyone has growth areas.\" },\n\n    // --- SECTION 3: Work Values & Preferences ---\n    \"3a\": { uuid: \"33333333-3333-3333-3333-333333333331\", question: \"Please rank the following career values in order of importance\", type: \"ranking\", options: [\"**Job Satisfaction** (e.g., enjoying daily tasks, feeling engaged and motivated by work)\", \"**Autonomy** (e.g., having independence in work, making decisions)\", \"**Work-Life Balance** (e.g., balancing personal and professional life, flexible hours)\", \"**Creativity** (e.g., having the freedom to innovate, engaging in creative problem-solving)\", \"**Job Stability & Financial Security** (e.g., long-term stability, financial reliability)\", \"**Helping Others & Making an Impact** (e.g., contributing to a cause, supporting colleagues or clients)\", \"**Accomplishment & Recognition** (e.g., reaching significant milestones, excelling in work, receiving awards)\", \"**Personal Growth & Challenge** (e.g., learning new skills, overcoming difficult challenges, pushing personal and professional limits)\"], description: \"(Most important to you on top, least important on the bottom)\" },\n    \"3b\": { uuid: \"33333333-3333-3333-3333-333333333332\", question: \"How important is it that your employer's values align with yours?\", type: \"multiple_choice\", options: [\"Not\", \"Somewhat\", \"Very\", \"Essential\"], description: \"\" },\n    \"3c\": { uuid: \"33333333-3333-3333-3333-333333333333\", question: \"How important is work-life balance to you?\", type: \"multiple_choice\", options: [\"Not\", \"Somewhat\", \"Very\", \"Essential\"], description: \"\" },\n    \"3d\": { uuid: \"33333333-3333-3333-3333-333333333334\", question: \"What kind of schedule works best for you?\", type: \"multiple_choice\", options: [\"Standard 9-to-5 schedule\", \"Flexible hours\", \"Project-based deadlines\", \"Part-time work\"], description: \"\" },\n    \"3e\": { uuid: \"33333333-3333-3333-3333-333333333335\", question: \"How important is salary to you in relation to other job factors?\", type: \"multiple_choice\", options: [\"Very important: salary is a primary factor\", \"Moderately important: I value salary but also consider other factors\", \"Less important: I prioritize factors like job satisfaction and growth\"], description: \"\" },\n    \"3f\": { uuid: \"33333333-3333-3333-3333-333333333336\", question: \"What is your overall desired compensation range for a new position?\", type: \"multiple_choice\", options: [\"Under 50,000\", \"50,000–75,000\", \"75,000–100,000\", \"100,000–150,000\", \"150,000–250,000\", \"250,000-500,000\", \"500,000-1,000,000\"], description: \"Gross base salary + bonus\\n• For full time (1 FTE)\\n• No equity grants\\n• In your own currency\" },\n    \"3g\": { uuid: \"33333333-3333-3333-3333-333333333337\", question: \"What's most important to you in terms of compensation?\", type: \"multiple_choice\", options: [\"High salary\", \"Comprehensive benefits\", \"Performance-based rewards\", \"Equity or ownership opportunities\", \"Work-life balance perks\"], description: \"\" },\n    \"3h\": { uuid: \"33333333-3333-3333-3333-333333333338\", question: \"What aspects of a new career would you like to **avoid**?\", type: \"multiple_choice\", options: [\"**High-pressure or fast-paced environments** \\n\\n(e.g., strict deadlines, constant urgency, unpredictable workloads)\", \"**Frequent decision-making responsibilities** \\n(e.g., autonomy in critical decisions, strategic planning, high accountability)\", \"**Leadership or management duties** (e.g., overseeing teams, setting vision, managing direct reports)\", \"**Limited learning or growth opportunities** (e.g., repetitive tasks, no clear professional development path)\", \"**Frequent teamwork and collaboration** (e.g., working closely with others daily, team-based projects, group decision-making)\", \"**Solo or independent work** (e.g., minimal interaction with colleagues, self-directed projects, remote individual tasks)\", \"**Sales, negotiation, or client-facing roles** (e.g., pitching ideas, persuading clients, managing external relationships)\", \"**Data-heavy or analytical roles** (e.g., working extensively with spreadsheets, statistics, or research-heavy tasks)\", \"**Finance-related work** (e.g., financial analysis, accounting, budgeting, or investment-related roles)\"], description: \"(Select all that apply, this helps us exclude unsuitable roles from your recommendations.)\" },\n\n    // --- SECTION 4: Interests & Skills ---\n   \"4a\": { uuid: \"44444444-4444-4444-4444-444444444441\", question: \"Which of these areas interest you most?\", type: \"multiple_choice\", options: [\"Technology & Software\", \"AI, Data & Automation\", \"Business Strategy & Consulting\", \"Finance, Markets & Investment\", \"Marketing & Communications\", \"Human Resources & People Operations\", \"Product & Innovation\", \"Design & Creative\", \"Healthcare & Life Sciences\", \"Education & Learning\", \"Sustainability & Environment\", \"Law & Public Policy\", \"Engineering & Manufacturing\", \"Science & Research\", \"Social Impact & Nonprofit\", \"Entertainment & Sports\"], description: \"(Choose up to 3)\" },\n    \"4b\": { uuid: \"44444444-4444-4444-4444-444444444442\", question: \"Which 2 archetypes best define you?\", type: \"multiple_choice\", options: [\"**The Analyzer** (logical problem-solver, data-driven, thrives on digging into details)\", \"**The Visionary** (creative, thinks outside the box, envisions new possibilities)\", \"**The Leader** (motivates teams, sets direction, takes initiative)\", \"**The Adapter** (comfortable with change, flexible, quick to adjust)\", \"**The Communicator** (articulates ideas effectively, fosters understanding)\", \"**The Empath** (understands emotions, supports others, builds relationships)\", \"**The Organizer** (plans tasks, sets priorities, keeps structure)\", \"**The Implementer** (gets tasks done, focuses on execution and timely deliverables)\"], description: \"(Pick 2)\" },\n    \"4c\": { uuid: \"44444444-4444-4444-4444-444444444443\", question: \"What company culture resonates most with you?\", type: \"multiple_choice\", options: [\"Innovative and forward-thinking\", \"Traditional and established\", \"Collaborative and team-oriented\", \"Competitive and high-achieving\"], description: \"\" },\n    \"4d\": { uuid: \"44444444-4444-4444-4444-444444444444\", question: \"Do you possess specialised knowledge or skills in a particular field?\", type: \"short_text\", options: [], description: \"e.g. data science or legal expertise, fundraising, project management, microbiology, robotics, or (mid-level) Python programming etc.\\nMultiple entries allowed.\" },\n    \"4e\": { uuid: \"44444444-4444-4444-4444-444444444445\", question: \"How familiar are you with generative AI technologies (e.g. ChatGPT, CoPilot, AI workflows, etc)?\", type: \"multiple_choice\", options: [\"Not familiar at all\", \"Somewhat familiar. I have a basic understanding\", \"Moderately familiar. I have used AI tools occasionally\", \"Very familiar. I frequently use AI tools\", \"Extremely familiar. I work with AI technologies professionally\"], description: \"\" },\n    \"4f\": { uuid: \"44444444-4444-4444-4444-444444444446\", question: \"If you had the opportunity to lead a workshop or seminar within your company, which topic(s) would you choose that you are enthusiastic about and feel confident discussing?\", type: \"multiple_choice\", options: [\"**Data Analysis and Business Intelligence** (e.g., leveraging data for strategic decisions, advanced analytics)\", \"**Project Management and Leadership** (e.g., effective team leadership, managing large-scale projects)\", \"**Marketing Strategies and Brand Development** (e.g., digital marketing trends, building a strong brand presence)\", \"**Artificial Intelligence and Automation** (e.g., implementing AI solutions, the future of automation in business)\", \"**Sustainability and Corporate Social Responsibility** (e.g., sustainable business practices, CSR initiatives)\", \"**Innovation and Product Development** (e.g., fostering a culture of innovation, developing new products)\", \"**Financial Planning and Investment Strategies** (e.g., budgeting for growth, investment opportunities)\", \"**People Management and Recruitment** (e.g., employee engagement and happiness, talent acquisition strategies)\", \"**Technology Integration and IT Infrastructure** (e.g., upgrading IT systems, coding, integrating new technologies)\"], description: \"Select up to 2. Use other if your passionate topic is not listed\" },\n    \"4g\": { uuid: \"44444444-4444-4444-4444-444444444447\", question: \"Are there any industries you would prefer to avoid in your next career?\", type: \"multiple_choice\", options: [\"Industry doesn't matter to me, it about the job\", \"Finance and Banking\", \"Sales and Business Development\", \"Technology and IT\", \"Healthcare and Wellness\", \"Legal Professions\", \"Education and Training\", \"Manufacturing and Physical Labor\", \"Retail, Hospitality, and Customer Service\", \"Marketing, Media, and Creative Fields\", \"Government and Public Sector\", \"Nonprofits and Social Work\", \"Agriculture and Outdoor Work\", \"Law Enforcement and Defence\"], description: \"(Select all that apply. This helps us exclude entire sectors from your recommendations.)\" },\n    \"4h\": { uuid: \"44444444-4444-4444-4444-444444444448\", question: \"Name your dream job(s)! Regardless of any constraining factors.\", type: \"short_text\", options: [], description: \"Don't worry about personal situation, salary, skills or other practical things: What one or two jobs would you absolutely LOVE to do.\\n(e.g. Sports commentator, Actor, Own a business that sells ..., Sailing instructor, Gardener, Writer, etc.). Max 3.\" },\n\n    // --- SECTION 5: Team Dynamics & Leadership ---\n    \"5a\": { uuid: \"55555555-5555-5555-5555-555555555551\", question: \"In a team, you tend to:\", type: \"multiple_choice\", options: [\"Take charge and guide the direction of the group.\", \"Ensure execution by keeping tasks organized and on track.\", \"Offer ideas and actively engage in discussions.\", \"Step back to analyze before contributing.\", \"Work independently but provide support when needed.\"], description: \"\" },\n    \"5b\": { uuid: \"55555555-5555-5555-5555-555555555552\", question: \"What motivates you most in a team environment?\", type: \"multiple_choice\", options: [\"Achieving common goals\", \"Recognition of individual contributions\", \"Learning from others\", \"Building relationships\"], description: \"\" },\n    \"5c\": { uuid: \"55555555-5555-5555-5555-555555555553\", question: \"What is your preferred team size?\", type: \"multiple_choice\", options: [\"Small (2-5 people)\", \"Medium (6-10 people)\", \"Large (11+ people)\", \"No preference\"], description: \"\" },\n    \"5d\": { uuid: \"55555555-5555-5555-5555-555555555554\", question: \"When there are disagreements about work tasks within your team (of peers), you typically:\", type: \"multiple_choice\", options: [\"Address them directly to find a solution\", \"Seek a compromise to maintain harmony\", \"Defer to others to avoid conflict\"], description: \"\" },\n    \"5e\": { uuid: \"55555555-5555-5555-5555-555555555555\", question: \"What challenges have you faced when working in teams?\", type: \"multiple_choice\", options: [\"Difficulty communicating ideas\", \"Challenges with delegation\", \"Conflict resolution\", \"Trusting team members to complete tasks\", \"Feeling overshadowed by others\", \"Managing different work styles\", \"Lack of clear leadership\", \"Disagreements over team goals\", \"Balancing individual and team responsibilities\", \"Difficulty giving or receiving feedback\"], description: \"(Select all that apply)\" },\n    \"5f\": { uuid: \"55555555-5555-5555-5555-555555555556\", question: \"How do you approach deadlines and time management?\", type: \"multiple_choice\", options: [\"**Steady Planner** (I plan well ahead and work consistently to avoid last-minute pressure)\", \"**Deadline-Aware** (I start early but my pace picks up significantly as deadlines approach)\", \"**Pressure-Dependent** (I need the urgency of approaching deadlines to focus effectively)\", \"**Last-Minute Sprinter** (I do my best work in intense bursts right before deadlines)\"], description: \"Think about how you actually work, not how you wish you worked.\" },\n    \"5g\": { uuid: \"55555555-5555-5555-5555-555555555557\", question: \"Which leadership style do you most prefer working under?\", type: \"multiple_choice\", options: [\"Delegating autonomy and trusting me to figure things out\", \"Coaching style where I focuss on personal/professional growth\", \"Task-oriented style with clear targets and strict follow-up\"], description: \"(select up to 2)\" },\n    \"5h\": { uuid: \"55555555-5555-5555-5555-555555555558\", question: \"When you disagree with a manager or senior leader's direction, you typically:\", type: \"multiple_choice\", options: [\"Voice concerns openly and try to discuss the issue\", \"Approach them privately to share your point of view\", \"Let it slide unless it significantly impacts you or your team\"], description: \"\" },\n\n    // --- SECTION 6: Emotional Intelligence ---\n    \"6a\": { uuid: \"66666666-6666-6666-6666-666666666661\", question: \"How do you handle feedback or constructive criticism?\", type: \"multiple_choice\", options: [\"I actively seek it and use it to improve\", \"I find it challenging and may struggle to apply it\"], description: \"What applies to you most\" },\n    \"6b\": { uuid: \"66666666-6666-6666-6666-666666666662\", question: \"When providing constructive criticism to others, you usually:\", type: \"multiple_choice\", options: [\"Try to be encouraging but are careful not to offend.\", \"Are straightforward and focus on the facts.\", \"Struggle with giving feedback and often avoid it.\"], description: \"\" },\n    \"6c\": { uuid: \"66666666-6666-6666-6666-666666666663\", question: \"When a colleague is experiencing personal stress or emotional difficulties, you typically:\", type: \"multiple_choice\", options: [\"Offer support and listen empathetically\", \"Provide practical help or solutions\", \"Respect their privacy and give them space\", \"Defer them to someone who you think can assist better\"], description: \"\" },\n    \"6d\": { uuid: \"66666666-6666-6666-6666-666666666664\", question: \"When involved in a conflict at work, how do you manage your emotions?\", type: \"multiple_choice\", options: [\"Remain calm and control your emotions effectively\", \"Find it challenging to manage your emotions\", \"Express your emotions openly, regardless of the setting\"], description: \"\" },\n    \"6e\": { uuid: \"66666666-6666-6666-6666-666666666665\", question: \"What strategies do you use to manage your emotions under stress?\", type: \"multiple_choice\", options: [\"Practice mindfulness or stress-reduction techniques\", \"Talk to colleagues or friends for support\", \"Internalize stress without specific coping strategies\"], description: \"\" },\n    \"6f\": { uuid: \"66666666-6666-6666-6666-666666666666\", question: \"How do you prefer to interact with colleagues?\", type: \"multiple_choice\", options: [\"Actively engage in social interactions, both during and outside work.\", \"Keep it mostly work-focused but join social events occasionally.\", \"Stick to professional interactions and rarely join social gathering outside work hours.\"], description: \"\" },\n    \"6g\": { uuid: \"66666666-6666-6666-6666-666666666667\", question: \"Which aspects of emotional intelligence do you find most challenging?\", type: \"multiple_choice\", options: [\"Managing stress effectively\", \"Recognizing and controlling own emotions\", \"Empathizing with others\", \"Handling conflict constructively\", \"Adapting to change\", \"Building and maintaining relationships\", \"Providing constructive feedback\", \"Receiving criticism without defensiveness\", \"Remaining calm under pressure\", \"Motivating myself and others\"], description: \"(Select up to 3)\" },\n\n    // --- SECTION 7: Career Goals & Development ---\n    \"7a\": { uuid: \"77777777-7777-7777-7777-777777777771\", question: \"What are your short-term career goals (next 1-2 years)?\", type: \"multiple_choice\", options: [\"Develop new skills or certifications\", \"Gain experience in a different role or industry\", \"Expand my professional network\", \"Achieve a promotion or salary increase\", \"Improve work-life balance\", \"Explore entrepreneurial opportunities\"], description: \"(Choose up to 2 or choose 'other')\" },\n    \"7b\": { uuid: \"77777777-7777-7777-7777-777777777772\", question: \"What are your long-term career goals (next 5-10 years)?\", type: \"multiple_choice\", options: [\"Reach a senior leadership or executive position\", \"Establish expertise and recognition in my field\", \"Own or run a successful business\", \"Achieve financial independence\", \"Make a significant contribution to society or a cause\", \"Continuously learn and adapt to new challenges\", \"Achieve complete autonomy and freedom in my career\"], description: \"(Choose up to 2 or choose 'other')\" },\n    \"7c\": { uuid: \"77777777-7777-7777-7777-777777777773\", question: \"Which barriers do you face right now -or expect to face— in achieving your career goals?\", type: \"multiple_choice\", options: [\"Limited growth opportunities in my current organization/field\", \"Work-life balance constraints or family commitments\", \"Burnout or lack of engagement\", \"Gaps in skills or professional development\", \"Misalignment with personal values or interests\", \"Uncertainty about my next career step\", \"Financial limitations or concerns\", \"External factors (e.g., economic conditions, industry changes)\", \"Personal doubts or lack of confidence\"], description: \"(Choose up to 2)\" },\n    \"7d\": { uuid: \"77777777-7777-7777-7777-777777777774\", question: \"Are you interested in acquiring new skills outside your current expertise?\", type: \"multiple_choice\", options: [\"Yes, always seeking new skills\", \"Prefer to focus on existing skills\", \"Yes, if relevant to my career\"], description: \"\" },\n    \"7e\": { uuid: \"77777777-7777-7777-7777-777777777775\", question: \"Lastly, which areas or competencies do you enjoy and would you like to develop (further) as part of a next/new job?\", type: \"multiple_choice\", options: [\"Leadership & Team Management\", \"People & Culture (HR)\", \"Communication & Public Speaking\", \"AI & Automation\", \"Technical & Digital Skills\", \"Data Analysis & Problem-Solving\", \"Creative Thinking & Innovation\", \"Project & Product Management\", \"Strategic Planning & Big-Picture Thinking\", \"Entrepreneurship / Intrapreneurship\", \"Sales, Relationship-Building & Networking\", \"Operations & Process Optimization\", \"Marketing & Brand Strategy\", \"Customer Experience & Service\", \"Financial & Business Acumen\", \"Change Management & Resilience\"], description: \"(Choose up to 3 areas you are **personally motivated** to develop, regardless of their current (perceived) proficiency level)\" }\n\n  };\n\n  // --- REPLACED ROBUST DATA PROCESSING LOGIC ---\n  const inputItem = $input.first().json;\n  const rawResponses = inputItem.survey_responses?.responses || inputItem.body?.survey_responses?.responses || {};\n\n  const formattedQuestions = [];\n  let answeredCount = 0;\n\n  for (const [id, config] of Object.entries(SURVEY_SCHEMA)) {\n      let answer = rawResponses[config.uuid];\n\n      const result = {\n          questionId: id,\n          question: config.question,\n          type: config.type,\n          description: config.description || \"\",\n          chosen: [],\n          notChosen: [],\n          hasAnswer: false\n      };\n\n      // Check if there is actual user data\n      if (answer !== undefined && answer !== \"\" && answer !== null) {\n          result.hasAnswer = true;\n          answeredCount++;\n\n          // HANDLE COMPLEX NESTED TYPES\n          if (config.type === \"skills_achievements\") {\n              result.chosen = {\n                  topSkills: answer.topSkills || [],\n                  certifications: answer.certifications || [],\n                  achievements: answer.achievements || \"\"\n              };\n          } \n          else if ([\"career_history\", \"career_happiness\"].includes(config.type)) {\n              // Ensure we pass the array of objects directly\n              result.chosen = Array.isArray(answer) ? answer : [answer];\n          }\n          // HANDLE STANDARD TYPES (Multiple Choice, Text, Number, Dropdown)\n          else {\n              let answerArray = Array.isArray(answer) ? answer : [answer];\n              const cleanAnswers = answerArray.map(a => {\n                  return typeof a === 'string' ? a.replace(/\\*\\*/g, '').trim() : a;\n              });\n\n              result.chosen = cleanAnswers;\n\n              // Only populate notChosen if there are defined options in the schema\n              if (config.options && config.options.length > 0) {\n                  result.notChosen = config.options.filter(opt => {\n                      const optClean = opt.replace(/\\*\\*/g, '').trim();\n                      return !cleanAnswers.some(userAns => String(userAns).includes(optClean));\n                  });\n              }\n          }\n      } else {\n          // FAILSAFE: If blank, 'chosen' stays an empty array, not the description\n          result.chosen = []; \n          result.notChosen = config.options || [];\n      }\n\n      formattedQuestions.push(result);\n  }\n\n  return [{\n      summary: {\n          totalQuestions: Object.keys(SURVEY_SCHEMA).length,\n          answeredQuestions: answeredCount\n      },\n      questions: formattedQuestions,\n      report_id: inputItem.report_id || inputItem.body?.report_id\n  }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -300,
        400
      ],
      "id": "c1000002-0001-0001-0001-000000000001",
      "name": "Process Survey Data"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "REPLACE_WITH_WF1A_ID",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        100,
        400
      ],
      "id": "c1000003-0001-0001-0001-000000000001",
      "name": "Call WF1-A Initial Summary"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "REPLACE_WITH_WF1B_ID",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        400,
        400
      ],
      "id": "c1000004-0001-0001-0001-000000000001",
      "name": "Call WF1-B Personality Narrative"
    },
    {
      "parameters": {
        "jsCode": "// Receives output from WF1-B (extracted sections) and the initial summary from WF1-A\n// Combines into Supabase-ready format\n\nconst sections = $input.first().json;\nconst reportId = sections.report_id;\n\n// Get initial summary from the WF1-A output (stored in the previous node's data)\nconst initialSummaryRaw = $('Call WF1-A Initial Summary').first().json.summary_text || '';\n\n// Clean up initial summary - remove markdown formatting, convert to HTML\nlet initialSummaryContent = initialSummaryRaw\n  .replace(/###\\s*\\*\\*([^*]+)\\*\\*/g, '<h5>$1</h5>')\n  .replace(/\\*\\*([^*]+)\\*\\*/g, '<strong>$1</strong>')\n  .replace(/\\*([^*]+)\\*/g, '$1')\n  .trim();\n\n// Define all sections\nconst allSections = [\n  {\n    section_type: 'init_summary',\n    title: 'Initial Summary',\n    content: initialSummaryContent,\n    isRawContent: true\n  },\n  { \n    section_type: 'approach', \n    title: sections.approach_title,\n    content: sections.approach \n  },\n  { \n    section_type: 'strengths', \n    title: sections.strengths_title,\n    content: sections.strengths \n  },\n  { \n    section_type: 'development', \n    title: sections.development_title,\n    content: sections.development \n  },\n  { \n    section_type: 'values', \n    title: sections.values_title,\n    content: sections.values \n  }\n];\n\n// Process each section\nreturn allSections\n  .filter(s => s.content && (s.isRawContent || (Array.isArray(s.content) && s.content.length > 0)))\n  .map(s => {\n    let formatted;\n    \n    if (s.isRawContent) {\n      formatted = s.content;\n    } else {\n      formatted = s.content.map(block => {\n        const subheader = block.subheader && block.subheader.trim() \n          ? `<h5>${block.subheader}</h5>\\n\\n` \n          : '';\n        const text = block.content || '';\n        return `${subheader}${text}`;\n      }).join('\\n\\n');\n    }\n    \n    return {\n      json: {\n        report_id: reportId,\n        section_type: s.section_type,\n        title: s.title,\n        content: formatted\n      }\n    };\n  });"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        400
      ],
      "id": "c1000005-0001-0001-0001-000000000001",
      "name": "prep for supabase insertion"
    },
    {
      "parameters": {
        "tableId": "report_sections",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1000,
        400
      ],
      "id": "c1000006-0001-0001-0001-000000000001",
      "name": "Supabase insert",
      "credentials": {
        "supabaseApi": {
          "id": "jYr9UcuCbwO8Um80",
          "name": "SB Atlas"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "reports",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "=processing"
            },
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Supabase insert').item.json.report_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "pending_review"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1300,
        400
      ],
      "id": "c1000007-0001-0001-0001-000000000001",
      "name": "update status",
      "credentials": {
        "supabaseApi": {
          "id": "jYr9UcuCbwO8Um80",
          "name": "SB Atlas"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1000008-0001-0001-0001-000000000001",
              "name": "=id",
              "value": "={{ $('Supabase insert').item.json.report_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        400
      ],
      "id": "c1000009-0001-0001-0001-000000000001",
      "name": "complete confirmation"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "complete",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1900,
        400
      ],
      "id": "c1000010-0001-0001-0001-000000000001",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vVv0tsnFlBnarMdq",
          "mode": "list",
          "cachedResultUrl": "/workflow/vVv0tsnFlBnarMdq",
          "cachedResultName": "Atlas Assessments — Source to Enrich 15 - 2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2200,
        400
      ],
      "id": "c1000011-0001-0001-0001-000000000001",
      "name": "Execute Suitable Jobs"
    }
  ],
  "connections": {
    "Survey complete Webhook": {
      "main": [
        [
          {
            "node": "Process Survey Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Survey Data": {
      "main": [
        [
          {
            "node": "Call WF1-A Initial Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call WF1-A Initial Summary": {
      "main": [
        [
          {
            "node": "Call WF1-B Personality Narrative",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call WF1-B Personality Narrative": {
      "main": [
        [
          {
            "node": "prep for supabase insertion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prep for supabase insertion": {
      "main": [
        [
          {
            "node": "Supabase insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase insert": {
      "main": [
        [
          {
            "node": "update status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update status": {
      "main": [
        [
          {
            "node": "complete confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "complete confirmation": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Execute Suitable Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "FbsruPbuZI2Fgtc8",
    "timeSavedMode": "fixed",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}